**Dataset**

In [ ]:
#Dataset Link

**Libraries**

In [ ]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**Read Dataset**

In [ ]:
#Read Dataset from csv files and converting UTF-8 encoding
df=pd.read_csv('zomato.csv',encoding='latin-1')
df.head()

In [ ]:
#Read Datset from Excel files
df=pd.read_excel("Data_Train.xlsx")

In [ ]:
#From Drive 
from google.colab import drive
drive.mount('/content/drive')

data = pd.read_csv('/content/drive/My Drive/zomato.csv')

**Dataset to Dataframe**

In [ ]:
#convert Dataset into dataframe

In [ ]:
#convert dataframe into Dataset

**Merge  Append Concat Dataframes**

In [ ]:
#Adding two or more Dataframes using specific feature
# Merge  # Append #Concat
#Data Frames Tables "Joins"
final_df=pd.merge(df,df_country,on='Country Code', how='left')

In [ ]:
#concating two dataframes
df=pd.concat([df,df_city],axis=1)
df.head()

In [ ]:
##MErge both train and test data
df=df_train.append(df_test)
df.head()

In [ ]:
df.head(2)  
df.tail(5)

In [ ]:
#Read Columns
df.columns

In [ ]:
#Read Columns with null values Datatypes
df.info()

In [ ]:
#Displays Datatypes of all columns(Features)
df.dtypes

In [ ]:
#Displays man std min 25% 50% all
df.describe()

In [ ]:
#Dataset Size Columns and Rows
df.shape

In [ ]:
zomato.copy()

In [ ]:
#Deleting features
df.drop(['User_ID'],axis=1,inplace=True)

In [ ]:
#Selecting Specific Feature values
final_df[['Airline']]

In [ ]:
#Specific column with distinct values in array 
df['Product_Category_3'].unique()

#or 

zomato.cost.unique() # cheking the unique costs

In [ ]:
#Specific Feature column with index and values
df['Product_Category_3'].value_counts()

**Missing Values**

In [ ]:
#Remove the NaN values from the dataset
zomato.isnull().sum()
zomato.dropna(how='any',inplace=True)

In [ ]:
#Identifying number of Null Values
df.isnull().sum()

In [ ]:
#Selected Feature Null Values Finding
df['Product_Category_2'].isnull().sum()

In [ ]:
#print the Features name having more than 0 Null values
[features for features in df.columns if df[features].isnull().sum()>0]

In [ ]:
#Plotiing Null values 
#change the fig size by rcparams
matplotlib.rcParams['figure.figsize'] = (12, 6)
sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
#Finding Mode of feature
#used in replaing missing values
df['Product_Category_2'].mode()[0]

In [ ]:
## Replace the missing values with mode
df['Product_Category_2'] = 
            df['Product_Category_2'].fillna(df['Product_Category_2'].mode()[0])

In [ ]:
#Changing the column names
zomato = zomato.rename(columns={'approx_cost(for two people)':'cost',
                                'listed_in(type)':'type',
                                  'listed_in(city)':'city'})

In [ ]:
#Feature Index values
country_names=final_df.Country.value_counts().index

In [ ]:
# Feature Values
country_val=final_df.Country.value_counts().values

**Groupby**

In [ ]:
#Selected Specific Features and grouping them
final_df.groupby(['Feature1','Feature2']).size().reset_index().head(5)

#or
final_df[['Country','Currency']].groupby(['Country','Currency']).size().reset_index()

**Removing Duplicates**

In [ ]:
#Removing the Duplicates
zomato.duplicated().sum()
zomato.drop_duplicates(inplace=True)

In [ ]:
#Checking Specific column using "isin() method"
for column in zomato.columns[~zomato.columns.isin(['rate', 'cost', 'votes'])]:

In [ ]:
#checking Feature having the value or not
final_df[final_df['Has Online delivery'] =="Yes"].Country.value_counts()

**Handle categorical feature**

In [ ]:
## Handle categorical feature Age
df['Age'].unique()

**Dummy Variable Trap**

In [ ]:
#Label Encoding
#Dummy variable trapping ###REmoves 
df['Gender']=pd.get_dummies(df['Gender'],drop_first=1)

In [ ]:
##HAndling categorical feature Gender using simple Mapping technique
#Less Categories only
df['Gender']=df['Gender'].map({'F':0,'M':1})
df.head()

In [ ]:
#Labelling Features
#pd.get_dummies(df['Age'],drop_first=True)
df['Age']=df['Age'].map({'0-17':1,'18-25':2,'26-35':3,
                         '36-45':4,'46-50':5,'51-55':6,
                         '55+':7})

**Label Encoding**

In [ ]:
##second technqiue
from sklearn import preprocessing
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
 
# Encode labels in column 'species'.
df['Age']= label_encoder.fit_transform(df['Age'])
 
df['Age'].unique()

**Data Converting Regex**

In [ ]:
#Spliting the Features Values after Spaces separation
# 01:10 22 Mar to 01:10
final_df['Arrival_Time'].str.split(' ').str[0]

In [ ]:
#Replacing Special Characters 
#deleting +
# 4+  to 4 only 
df['Stay_In_Current_City_Years'] =
              df['Stay_In_Current_City_Years'].str.replace('+','')

In [ ]:
#Convert all datatypes into Int or Float format only
#initially all in object format
##convert object into integers
df['Stay_In_Current_City_Years'] =  
                      df['Stay_In_Current_City_Years'].astype(int)
df['B']=df['B'].astype(int)
df['C']=df['C'].astype(int)
df.info()

In [ ]:
#Converting 4.1/5 format to 4.1
zomato = zomato.loc[zomato.rate !='NEW']
zomato = zomato.loc[zomato.rate !='-'].reset_index(drop=True)
remove_slash = lambda x: x.replace('/5', '') if type(x) == np.str else x
zomato.rate = zomato.rate.apply(remove_slash).str.strip().astype('float')

In [ ]:
#Converting Yes/No to True/False
zomato.name = zomato.name.apply(lambda x:x.title())
zomato.online_order.replace(('Yes','No'),(True, False),inplace=True)
zomato.book_table.replace(('Yes','No'),(True, False),inplace=True

**Handling DateTime Feature**

In [ ]:
#Converting DateTime 24/03/2019 format to 24Date 03Month 2019Year
final_df['Date_of_Journey'].str.split('/').str[0]

In [ ]:
#Converting complete DateTime Feature 
# 24/03/2019 into "24Date 03Month 2019Year" Column wise
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
#Another Method
df["Date"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[0])
df["Month"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[1])
df["Year"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[2])

In [ ]:
#converting Feature "01:10 22 Mar" format to only
#  "01 hour and 10 min" separate features
#removing spacr after text and again spliting values using Colan:
#Deleting "space and colan" after Extra Text
final_df['Arrival_Time'] =
                final_df['Arrival_Time'].apply(lambda x : x.split(' ')

#or
final_df['Arrival_hour']=final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_min']=final_df['Arrival_Time'].str.split(':').str[1]

In [ ]:
#converting 22:20 time to "22 hours and 20 min" columns
final_df['Dept_hour']=final_df['Dep_Time'].str.split(':').str[0]
final_df['Dept_min']=final_df['Dep_Time'].str.split(':').str[1]

#Converting Object type to Int type
final_df['Dept_hour']=final_df['Dept_hour'].astype(int)
final_df['Dept_min']=final_df['Dept_min'].astype(int)

#Deleting Old Feature
final_df.drop('Dep_Time',axis=1,inplace=True)

In [ ]:
#Another Simple method for alphanumeric feature to numeric feature
#same time Encoding 
#Simply map (only for less Distinct Values)
final_df['Total_Stops'] = final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,
                                                     '2 stops':2,'3 stops':3,
                                                     '4 stops':4,'nan':1})

In [ ]:
Time 2h 50m format to 2 only
final_df['duration_hour'] =
          final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [ ]:
# Converting Object type to String type to Float64 format 
zomato['cost'] = zomato['cost'].astype(str) #Changing the cost to string
zomato['cost'] = zomato['cost'].apply(lambda x: x.replace(',','.')) 
#Using lambda function to replace ',' from cost
zomato['cost'] = zomato['cost'].astype(float) # Changing the cost to Float

**Visualization**

In [ ]:
#Changing the Figure siz eusing rcParams
import matplotlib
matplotlib.rcParams['figure.figsize'] = (12, 6)

In [ ]:
##Visualisation Age vs Purchased
#Gender colors
#xlabel and ylabel
sns.barplot('Age','Purchase',hue='Gender',data=df)

In [ ]:
#Adding palette to Bar Plot
sns.barplot(x="Aggregate rating",y="Rating Count",hue='Rating color',data=ratings,
                      palette=['blue','red','orange','yellow','green','green'])

In [ ]:
#Bar plot


#or
loc_plt=pd.crosstab(zomato['rate'],zomato['city'])
loc_plt.plot(kind='bar',stacked=True);
plt.title('Locationwise Rating',fontsize=15,fontweight='bold')
plt.ylabel('Location',fontsize=10,fontweight='bold')
plt.xlabel('Rating',fontsize=10,fontweight='bold')
plt.xticks(fontsize=10,fontweight='bold')
plt.yticks(fontsize=10,fontweight='bold');
plt.legend();

In [ ]:
## Count plot
sns.countplot(x="Rating color",data=ratings,
              palette=['blue','red','orange','yellow','green','green'])

#or

#Restaurants delivering Online or not
sns.countplot(zomato['online_order'])
fig = plt.gcf()
fig.set_size_inches(10,10)
plt.title('Restaurants delivering online or Not')

#or
sns.countplot(zomato['type'])
sns.countplot(zomato['type']).set_xticklabels(sns.countplot(zomato['type']).get_xticklabels(), 
                                              rotation=90, ha="right")
fig = plt.gcf()
fig.set_size_inches(15,15)
plt.title('Type of Service')

#or
plt.title('NO. of restaurants in a Location',size = 20,pad=20)

In [ ]:
## Pie Chart- Top 3 countries that uses zomato with % values
plt.pie(country_val[:3],labels=country_names[:3],autopct='%1.2f%%')

**Correlation  and Heatmap**

In [ ]:
#Get Correlation between different variables
corr = zomato_en.corr(method='kendall')
plt.figure(figsize=(15,8))
sns.heatmap(corr, annot=True)
zomato_en.columns

**Train Test Split**

In [ ]:
#Droping Dependent feature
#Training and Testing 
X=df_train.drop('Purchase',axis=1)

#or

X_train.drop('Product_ID',axis=1,inplace=True)
X_test.drop('Product_ID',axis=1,inplace=True)

In [ ]:
y=df_train['Purchase']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

**Feature Scaling**

In [ ]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

**Linear Regression**

In [ ]:
#Prepare a Linear Regression Model
reg=LinearRegression()
reg.fit(x_train,y_train)
y_pred=reg.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test,y_pred

**Decision Tree Regression**

In [ ]:
#Prepairng a Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.1,random_state=105)
DTree=DecisionTreeRegressor(min_samples_leaf=.0001)
DTree.fit(x_train,y_train)
y_predict=DTree.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

**Random Forest Regression**

In [ ]:
#Preparing Random Forest REgression
from sklearn.ensemble import RandomForestRegressor
RForest=RandomForestRegressor(n_estimators=500,random_state=329,min_samples_leaf=.0001)
RForest.fit(x_train,y_train)
y_predict=RForest.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

**Extra Tree Regressor**

In [ ]:
#Preparing Extra Tree Regression
from sklearn.ensemble import  ExtraTreesRegressor
ETree=ExtraTreesRegressor(n_estimators = 100)
ETree.fit(x_train,y_train)
y_predict=ETree.predict(x_test)


from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

**Save and Load Model**

In [ ]:
import pickle
# Saving model to disk
pickle.dump(ETree, open('model.pkl','wb'))